 <!--body content-->
</div><!--close container-fluid from header-->

    <footer>
        <div class="text-center">
            &copy; CMPE 280, Fall 2015
        </div>
    </footer>


</body>

</html>